@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	background:#313454;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#fff; 
	text-align: center;
	margin:0px;
	padding:0px;
}
h1{
    font-size: 3em;
    font-weight: bold;
    margin: 150px auto 10px;
}
h2{
	font-size: 1.7em;
    font-weight: normal;
}
h3{
	font-size: 1.5em;
	font-weight: normal;
	margin: 10px auto;
}
h4{
    font-size: 1.3em;
    font-weight: normal;
}
h5{
	font-size: 1.1em;
    font-weight: normal;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	margin: 0px auto;
	list-style:none;
}
.upper{text-transform: uppercase;}
.center{text-align: center;}
.bold{font-weight: bold;}
.grey{color:grey;}
.pink{color:#e84545;}
.webdings{font-family: Webdings, sans-serif;}
.clear{clear:both;}
ul.col-3{
	display:block;
	width: 100%;
	padding: 30px 15px;
}
ul.col-3 li{
	display:inline-block;
	width: 30%;
	padding: 10px 15px;
	vertical-align: middle;
}
/************HEADER****************/
header{
	position:relative;
	background:#313;
	background-image:url(../img/header.jpg);
	padding:5px;
	min-height: 600px;
}
nav, .content{
	display:block;
	width:1170px;
	margin:0 auto;
}
#logo{
	display:block;
	position: relative;
	width:250px;
	height:50px;
	float:left;
}
ul.navigation {
	position: relative;
	right: 0px;
	text-align: right;
}
ul.navigation li{
	display:inline-block;
	padding: 5px 10px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	right: 0;}
a.button {
	position: relative;
	display: block;
	width: 200px;
	padding: 15px 20px;
	margin: 50px auto;
	background: #e94a4a;
	font-size:1.2em;
	font-weight: bold;
	cursor:pointer;
	-webkit-box-shadow: 0 0 20px #b93939 inset;
	-moz-box-shadow: 0 0 20px #b93939 inset;
	-o-box-shadow: 0 0 20px #b93939 inset;
	box-shadow: 0 0 20px #b93939 inset;
	-webkit-transition: 1s linear 0.5s;
	-moz-transition: 1s linear 0.5s;
	-o-transition: 1s linear 0.5s;
	transition: 1s linear 0.5s;
}
a.button:hover, a.button:focus {
	width: 230px;
	padding: 15px 20px;
	background: #b93939;
	font-size:1.5em;
	-webkit-box-shadow: 0 0 20px #c16767 inset;
	-moz-box-shadow: 0 0 20px #c16767 inset;
	-o-box-shadow: 0 0 20px #c16767 inset;
	box-shadow: 0 0 20px #c16767 inset;
}
/****************FEATURES*******************************/
.page01{
	display:block;
	width:100%;
	background:#fff;
}
.page01 ul{
	color:#000;
}
.page01 ul li{
	vertical-align: top;
}
.page01 ul li>h3:before{
	display:block;
	margin:10px auto;
	content: '';
	background-image: url(../img/icon-all.png);
	}
h3.icon01:before{
	width:60px;
	height:60px;
	background-position:0px 0px;
}
h3.icon02:before{
	width:80px;
	height:60px;
	background-position:-60px 0px;
}
h3.icon03:before{
	width:60px;
	height:60px;
	background-position:0px 60px;
}
h3.icon04:before{
	width:60px;
	height: 60px;
	background-position: 0px 120px;
}
h3.icon05:before{
	width:80px;
	height:60px;
	background-position: -60px 120px;
}
h3.icon06:before{
	width: 80px;
	height:60px;
	background-position: -60px 60px;
}
/***********************WORK****************************/
.page02{
	display:block;
	width:100%;
	background:#fff;
	padding: 0px;
	margin: 0px;
}
.table{
	display: table;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.row{
	display: table-row;
	margin: 0px;
	padding: 0px;
}
.work{
	display: table-cell;
	width: 25%;
	border: 1px #fff solid;
	margin: 0px;
	padding: 0px;
}
.work-link {
  display: table-cell;
  position: relative;
}
.work-img {
  width: 100%;
  height: 75%;
}
.cover-bg, .cover-title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover-title {
  display: none;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}
.work-link:hover .cover-bg,
.work-link:hover .cover-title{
  display: block;
}
.cover-bg {
  background: #e94a4a;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.cover-title {
  color: #fff;
}
/*******************SOCIAL*********************/
.page03{
	display:block;
	width:100%;
	background:#3a3e64;
}
.page04{
}
footer{
	
}
@media screen and (max-width: 1260px) and (min-width: 980px) {
ul.col-3 li{
	padding: 10px 5px;
}
/************HEADER****************/
header{
	min-height: 500px;
}
nav, .content{
	width:900px;
}
#logo{
	height:50px;
}
}
@media screen and (max-width: 979px) and (min-width: 600px) {
h1{
    font-size: 2.5em;
    margin: 100px auto 10px;
}
h2{
	font-size: 1.7em;
    font-weight: normal;
}
h3{
	font-size: 1.3em;
}
h4{
    font-size: 1.2em;
    font-weight: normal;
}
h5{
	font-size: 1em;
    font-weight: normal;
}
ul.col-3{
	padding: 20px 5px;
}
ul.col-3 li{
	width: 45%;
	padding: 10px 5px;
}
/************HEADER****************/
header{
	min-height: 500px;
}
nav, .content{
	width: 550px;
}
#logo{
	width: 100%;
	height: 30px;
}
/****************FEATURES*******************************/
/***********************WORK****************************/
.table{
	display: block;
}
.row{
	display: block;
}
.work{
	display: inline-block;
	width: 49%;
}
.cover-title {
  top: 15%;
}
/*******************SOCIAL*********************/
footer ul.col-3 li:last-child{
	width: 100%;
}
}
@media screen and (max-width: 599px) and (min-width: 300px) {
	body{
	display: block;
	width: 100%;
}
h1{
    font-size: 1.5em;
    margin: 50px auto 10px;
}
h2{
	font-size: 1.3em;
}
h3{
	font-size: 1em;
}
h4{
    font-size: 0.9em;
}
h5{
	font-size: 0.8em;
}
ul.col-3{
	padding: 20px 5px;
}
ul.col-3 li{
	width: 100%;
	padding: 0px 5px;
}
/************HEADER****************/
header{
	padding:5px;
	min-height: 400px;
}
nav, .content{
	width: 270px;
}
#logo{
	width: 100%;
	height: 30px;
}
ul.navigation {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
/****************FEATURES*******************************/
/***********************WORK****************************/
.page02{
	display:block;
	width:100%;
	background:#fff;
	padding: 0px;
	margin: 0px;
}
.table{
	display: block;
	width: 100%;
}
.row{
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.work{
	display: block;
	width: 90%;
	margin: 0px auto;
}
.cover-title {
  top: 10%;
}
/*******************SOCIAL*********************/
}